{#
 # Displays header site branding
 #
 # @package WordPress
 # @subpackage Twenty_Nineteen
 # @since 1.0.0
 #
 #}
<div class="site-branding">

	{% if fn('has_custom_logo') %}
		<div class="site-logo">{{ fn('get_custom_logo')|raw }}</div>
	{% endif %}

	{% if blog.info.name|length %}
		{% if blog.is_front_page %}
			<h1 class="site-title"><a href="{{ blog.home_url}}" rel="home">{{ blog.info.name|raw }}</a></h1>
		{% else %}
			<p class="site-title"><a href="{{ blog.home_url}}" rel="home">{{ blog.info.name|raw }}</a></p>
		{% endif %}
	{% endif %}

	{% if blog.info.description|length %}
		<p class="site-description">
			{{ blog.info.description|raw }}
		</p>
	{% endif %}

	{% if blog.menu.main_menu|default and blog.menu.main_menu.items|length %}
		<nav id="site-navigation" class="main-navigation" aria-label="{{ _e( 'Top Menu', 'twentynineteen' )  }}">
			<ul id="menu-1" class="main-menu">
				{% for item in blog.menu.main_menu.items %}
					<a href="{{ item.link }}" class="{{ item.class }}" target="{{ item.target }}">{{ item.title|raw }}</a>
				{% endfor %}
			</ul>
		</nav><!-- #site-navigation -->
	{% endif %}

	{% if blog.menu.social|default and blog.menu.social.items|length %}
		<nav class="social-navigation" aria-label="{{ _e( 'Social Links Menu', 'twentynineteen' ) }}">
			<ul id="social" class="social-links-menu">
				{% for item in blog.menu.social.items %}
					<a href="{{ item.link }}" class="{{ item.class }}" target="{{ item.target }}"><span class="screen-reader-text">{{ item.title|raw }}</span></a>
				{% endfor %}
			</ul>
		</nav><!-- .social-navigation -->
	{% endif %}
</div><!-- .site-branding -->
