<!DOCTYPE html>
<html lang="{{ blog.locale|default('en') }}" class="utf8" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="{{ blog.info.charset }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="profile" href="https://gmpg.org/xfn/11" />

	<title>{{ blog.title|raw }}</title>

	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{{ wp_head() }}
</head>

<body class="{{ blog.body_class }}">

<div id="page" class="site">

	{% block header %}
		{% include 'header.html.twig' %}
	{% endblock header %}

	<div id="content" class="site-content">

		{% block body %}{% endblock body %}
	</div>

	{% if not maintenance_mode|default %}

		{% block footer %}
			{% include 'footer.html.twig' %}
		{% endblock footer %}
	{% endif %}

</div>

{{ wp_footer() }}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
