{% if post|default() %}

    <span class="byline">
        <span class="author vcard">
            <a class="url fn n" href="{{ post.author.link }}">{{ post.author.display_name }}</a>
        </span>
    </span>

    <span class="posted-on"><time class="entry-date published updated" datetime="{{ post.date_gmt }}">{{ post.date }}</time></span>

    {% if post.term %}
        <span class="cat-links">
            <a href="{{ post.term.link }}">{{ post.term.title }}</a>
        </span>
    {% endif %}
{% endif %}